body{
    margin:0;
    padding:0;
    text-align: center;
    user-select: none;
}
p{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
.input-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-div{
    position: relative;
    display: inline-block;
    width: 600px;
    min-height: 4vh;
    border: 1px solid rgb(225, 225, 225);
    margin-top: 2px;
}
.list-div:hover .x-buttons{
    visibility: visible;
}
.filter-box{
    margin:auto;
    width: 600px;
    border-left: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
}
.filter-buttons{
    background: none;
    border:none;
}
.filter-buttons:hover{
    border:1px solid red;
}
.filter-buttons.active{
    border:1px solid red;
}

.x-buttons{
    position: absolute;
    right: 0%;
    bottom: 5%;
    border: none;
    background: none;
    visibility: hidden;
}
.x-buttons:hover{
    transform: scale(0.9);
}
.checkboxes{
    position: absolute;
    left: 0%;
    height: 18px;
    width: 18px;
}

.completed{
    color: grey;
    text-decoration: line-through;
}

.labels{
    word-break: break-all;
    padding: 0 20px;
    margin:0;
}