body{
    margin:0;
    padding:0;
    user-select: none;
    display: flex;
    justify-content: center;
    width: 100vw;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*:focus {
    outline: none;
}

.section {
    width: 600px;
}

.main {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 80px;
    font-weight: 200;
    color: #b83f45;
    text-align: center;
}

.flex-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-input {
    padding: 16px 16px 16px 60px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid rgb(183, 184, 243);
}

.main-input :focus {
    outline: none;
}
.main-input::placeholder{
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
}

.check-all {
    display: block;
    position: absolute;
    top: 240px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
}

.list-div{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px rgb(223, 213, 213) solid; 
    height: 40px
}

.main-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.list-div:hover .x-buttons{
    visibility: visible;
}

.filter-box{
    width: 100%;
    display: flex;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.filter-buttons{
    background: none;
    border: none;
    padding: 3px;
    margin: 0 10px;
    height: 30px
}
.filter-buttons:hover{
    border:1px solid red;
    border-radius: 3px;
}
.filter-buttons.active{
    border:1px solid red;
    border-radius: 3px;
}

.x-buttons{
    border: none;
    background: none;
    visibility: hidden;
    margin-left: auto;
    margin-right: 10px;
}

.x-buttons:hover{
    transform: scale(0.9);
}

.checkboxes{
    margin-left: 20px;
    height: 18px;
    width: 18px;
}

.completed{
    color: grey;
    text-decoration: line-through;
}

.labels{
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
}

.filter-buttons-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-box {
    width: 100px;
    margin-left: 20px;
    
}